<% content_for :controls do %>
  <div class="controls">
    <div class="container">

      <div class="move-container">
        <a href="#" class="move-slide" id="move-left" onclick="goPrevious()">&lt;</a>
        <a href="#" class="move-slide" id="move-right" onclick="goNext()">&gt;</a>
      </div>
      <div id="pageTrackers">

     <!--    <span class="pageTrackers" onclick="selectPage(1)">. </span>
        <span class="pageTrackers" onclick="selectPage(2)">. </span>
        <span class="pageTrackers" onclick="selectPage(3)">. </span>
        <span class="pageTrackers" onclick="selectPage(4)">. </span>
        <span class="pageTrackers" onclick="selectPage(5)">. </span>
        <span class="pageTrackers active" onclick="selectPage(6)">. </span>
        <span class="pageTrackers" onclick="selectPage(7)">. </span>
        <span class="pageTrackers" onclick="selectPage(8)">. </span>
        <span class="pageTrackers" onclick="selectPage(9)">. </span>
        <span class="pageTrackers" onclick="selectPage(10)">. </span>
        <span class="pageTrackers" onclick="selectPage(11)">. </span>
        <span class="pageTrackers" onclick="selectPage(12)">. </span>
 -->
      </div>
      <a href="#" class="btn btn-blue btn-end">End Presentation</a>

    </div>
  </div>
<% end %>

<div class="presentation-container">
  <canvas id="the-canvas" style="border:1px solid black"></canvas>
</div>

<div class="feedback-container">
  <h2>Feedback:</h2>

  <div class="feedback-item item-blue">
    <p>How can I convey my message effectively in 10 seconds?</p>
  </div>

  <div class="feedback-item item-green">
    <p>Can you explain the theorem you used in question 2?</p>
  </div>

  <div class="feedback-item item-purple">
    <p>Is this the real life?</p>
  </div>

</div>




<!-- Use latest PDF.js build from Github -->

  <script type="text/javascript" src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
  <%= javascript_include_tag :presentation %>
  