<% content_for :controls do %>
  <div class="controls">
    <div class="container">

      <div class="move-container">
        <a href="#" class="move-slide" id="move-left">&lt;</a>
        <a href="#" class="move-slide" id="move-right">&gt;</a>
      </div>

      <a href="#" class="btn btn-blue btn-end">End Presentation</a>

    </div>
  </div>
<% end %>

<div class="presentation-container">
asdf
</div>

<div class="feedback-container">
asdf
</div>
