<div class="dashboard-container">

<section class="presentation-list blue">
  <div class="container">
    <div class="row">
      <div class="span-16">

        <h1>Your presentations</h1>

        <div class="pres-box">
          <span class="pres-title">11/3/12 - SWSB demo</span>
          <a href="/presentations/1" class="btn btn-green right">Start presentation &raquo;</a>
        </div>

        <div class="pres-box">
          <span class="pres-title">10/20/12 - FollowAlong pitch</span>
          <a href="/presentations/1" class="btn btn-green right">Start presentation &raquo;</a>
        </div>

      </div>
    </div>
  </div>
</section>



<section class="question-list">
  <div class="container">
    <div class="row">
      <div class="span-16">

        <h1>Recent questions</h1>

        <div class="span-4 question-box">
          <span>How can I set up FollowAlong at my institution?</span>
          <div class="question-pres">On: SWSB demo</div>
          <a href="#" class="btn btn-blue respond-btn">Respond</a>
        </div>

        <div class="span-4 question-box">
          <span>Can you explain the theorem you used in problem 3?</span>
          <div class="question-pres">On: Intro to Calculus</div>
          <a href="#" class="btn btn-blue respond-btn">Respond</a>
        </div>

        <div class="span-4 question-box">
          <span>What did the author mean when comparing the color of the curtains to the current state of the stock market?</span>
          <div class="question-pres">On: Intro to Calculus</div>
          <a href="#" class="btn btn-blue respond-btn">Respond</a>
        </div>

        <div class="span-4 question-box">
          <span>Can I be a part of your team?</span>
          <div class="question-pres">On: FollowAlong demo</div>
          <a href="#" class="btn btn-blue respond-btn">Respond</a>
        </div>

      </div>
    </div>
  </div>
</section>



</div>
