<section class="blue">
  <div class="container dashboard-container">
    <div class="row">
      <div class="span-16">

        <h1>Recently viewed presentations:</h1>

        <div class="pres-box">
          <span class="pres-title">11/3/12 - Impact of Effective Design on Startups</span>
          <a href="#" class="btn btn-green right">View presentation &raquo;</a>
        </div>

        <div class="pres-box">
          <span class="pres-title">10/20/12 - Intro to Classical Mechanics</span>
          <a href="#" class="btn btn-green right">View presentation &raquo;</a>
        </div>

      </div>
    </div>
  </div>
</section>
