<% unless params[:controller] == "presentations" && params[:action] == "show" %>
<header>
  <div class="container">

    <span class="left home-link"> <a href='/' >  FollowAlong </a> </span>

    <% if signed_in? %>

    <span class="user-signin right">Signed in as <span class="username" > Joe Student </span></span>

    <% else %>

      <div class="links-container">
        <ul>
          <li><%= link_to "Log In", login_path %></li>
        </ul>
      </div>

    <% end %>


  </div>
</header>
<% end %>
