<% provide(:title, 'This is the title') %>

<section class="landing-main">
  <div class="container">
    <div class="row">

      <div class="span-16">
        <h1>Get connected with your students.</h1>
      </div>

    </div>
  </div>
</section>



<section class="landing-cta">
  <div class="container">
    <div class="row">

      <h1 class="section-title">FollowAlong is a presentation sharing and response tool to engage your students and get answers in real time.</h1>

      <h2>Learn more about:</h2>

      <div class="span-10 offset-3 cta-container">
        <a href="slideshow" class="btn btn-green btn-large left">Benefits for Professors</a>
        <a href="" class="btn btn-green btn-large right">Benefits for Students</a>
      </div>


    </div>
  </div>
</section>



<section class="landing-footer">
  <div class="container">
    <div class="row">
      <div class="span-8 offset-4">

        <p><span style="color:#7bb928;">FollowAlong</span> was created at <a href="http://www.santabarbara.startupweekend.org">SB Startup Weekend</a>.</p>
        <span class="divider">|</span>
        <%= link_to "Log in", "#" %>
        <span class="divider">|</span>
        

      </div>
    </div>
  </div>
</section>
