<div id="pricing-table" class="clear">

    <div class="plan">
        <h3>Personal<span>FREE</span></h3>
        <a class="btn btn-green" href="">Sign up</a>
        <ul>
            <li><b>1</b> Presenters</li>
            <li><b>5</b> Presentations</li>
	    <li><b>No</b> Real Time</li>
        </ul>
    </div>

    <div class="plan" id="most-popular">
        <h3>Educational<span>FREE</span></h3>
        <a class="btn btn-blue" href="">Contact Us</a>
        <ul>
            <li><b>Unlimited</b> Presenters</li>
            <li><b>Unlimited</b> Presentations</li>
        <li><b>Real Time</b></li>
        </ul>
    </div>

    <div class="plan">
        <h3>Business<span>$19.99</span></h3>
        <a class="btn btn-green" href="">Sign up</a>
        <ul>
            <li><b>30</b> Presenters</li>
            <li><b>150</b> Presentations</li>
        <li><b>Real Time</b></li>
        </ul>
    </div>

    <div class="plan">
        <h3>Enterprise<span>$49.99</span></h3>
        <a class="btn btn-green" href="">Contact Us</a>
        <ul>
            <li><b>Unlimited</b> Presenters</li>
            <li><b>Unlimited</b> Presentations</li>
        <li><b>Real Time</b></li>
        </ul>
    </div>
</div>
