<div id="pricing-table" class="clear">
    <div class="plan">
        <h3>Personal<span>FREE</span></h3>
        <a class="signup" href="">Sign up</a>         
        <ul>
            <li><b>5</b> Presentations</li>
            <li><b>0</b> Monthly Bandwidth</li>
            <li><b>20</b> Email Accounts</li>
	    <li><b>No</b> Real Time</li>			
        </ul> 
    </div>
    <div class="plan" id="most-popular">
        <h3>Perposterous<span>$999</span></h3>
        <a class="signup" href="">Sign up</a>         
        <ul>
            <li><b>30</b> Presentations</li>
            <li><b>100GB</b> Monthly Bandwidth</li>
            <li><b>20</b> Email Accounts</li>
        <li><b>No</b> Real Time</li>            
        </ul> 
    </div>
    <div class="plan">
        <h3>Educational<span>$1,999</span></h3>
        <a class="signup" href="">Sign up</a>         
        <ul>
            <li><b>Unlimited</b> Presentations</li>
            <li><b>100GB</b> Monthly Bandwidth</li>
            <li><b>20</b> Email Accounts</li>
        <li><b>Unlimited</b> Real Time</li>            
        </ul> 
    </div>
    <div class="plan">
        <h3>Enterprise<span>$5,999</span></h3>
        <a class="signup" href="">Sign up</a>         
        <ul>
            <li><b>Unlimited</b> Presentations</li>
            <li><b>100GB</b> Monthly Bandwidth</li>
            <li><b>20</b> Email Accounts</li>
        <li><b>Unlimited</b> Real Time</li>            
        </ul> 
    </div>
</div>