header {
  @include clearfix;
  background-color: #262626;
  color: $light-text;
  text-align: center;

  .links-container {
    float: right;
  }

  li {
    display: inline-block;
  }

  a, .user-signin {
    color: #eee;
    padding: 10px;
  }

  .username {
    color: $blue;
    font-weight: bold;
  }

  a {
    font-size: 1.1em;
    display: inline-block;

    &:hover {
      background-color: $green;
      color: white;
      text-decoration: none;
    }
  }
}
