@import "lib/variables";
@import "lib/mixins";

//-- GENERIC
//------------------------------------
html {
  overflow-y: scroll;
}

body {
  background-color: #F0F0F0;
  color: $gray-text;
  font-family: $baseFontFamily;
  font-size: 13px;
}

body > .container {
  margin: 25px auto 0;
}

@media (max-width: 630px) {
  body .container { padding: 0 5px; }
}


//-- LIB CLASSES
//------------------------------------
.left { float: left }
.right { float: right }
.blue { background-color: #08c; }
