$header-height: 90px;

.controls {
  background-color: #262626;
  font-weight: bold;
  height: $header-height;
}

.move-container {
  float: left;

  @media (max-width: 630px) {
    text-align: center;
  }
}

.move-slide {
  color: #B3B3B3;
  display: inline-block;
  font-size: 7em;
  margin-right: 40px;
  line-height: $header-height - 20px;

  &:hover, &:active {
    color: $blue;
    text-decoration: none;
  }
}


.btn-end {
  float: right;
  margin-top: ($header-height / 2) - 15px;
}




.presentation-container {
  width: 75%;
  outline: 1px solid red;
}

.feedback-container {
  width: 25%;
  outline: 1px solid blue;
}

.presentation-container,
.feedback-container {
  @include border-box;
  float: left;

  @media (max-width: 630px) {
    float: none;
    margin-bottom: 20px;
    width: 100%;
  }
}
