
/* Max browser dimensions to enable full canvas height/width */
html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

// -----------------------
//    PLAYER CONTROLS
// -----------------------
$header-height: 90px;
.controls {
  background-color: #262626;
  font-weight: bold;
  height: $header-height;
}

.move-container {
  float: left;

  @media (max-width: 630px) {
    text-align: center;
  }
}

.move-slide {
  color: #B3B3B3;
  display: inline-block;
  font-size: 7em;
  margin-right: 40px;
  line-height: $header-height - 20px;

  &:hover, &:active {
    color: $blue;
    text-decoration: none;
  }
}


.btn-end {
  float: right;
  margin-top: ($header-height / 2) - 15px;
}

.presentation-container {
  width: 75%;
}

.question-container {
  width: 25%;
  margin-top: 15px;

  .question-item {
    @include border-box;
    @include bold(1.1em);
    color: white;
    margin-bottom: 5px;
    padding: 20px;
  }

  .item-blue { background-color: #08c; }

  .item-green { background-color: $green; }

  .item-purple { background-color: #9C4274; }
}

.pdf-container {
  margin: 0 auto;
  outline:1px solid black;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.presentation-container,
.question-container {
  @include border-box;
  float: left;

  @media (max-width: 630px) {
    float: none;
    margin-bottom: 20px;
    width: 100%;
  }
}

.hoverhack {
  color: #3A84C5;
}




// -----------------------
//    DASHBOARD
// -----------------------
.dashboard-container {
}

.presentation-list,
.question-list {
  padding: 40px 0;

  h1 {
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.presentation-list {
  h1 {
    color: white;
  }
}

.pres-box {
  @extend %whitebox;
  color: $gray-text;
  padding: 13px;
  margin-bottom: 20px;

  .pres-title {
    @include bold(1.2em);
    float: left;
    margin-top: 5px;
  }

  @media (max-width: 630px) {
    text-align: center;

    .pres-title, .btn {
      float: none;
      display: inline-block;
    }

    .pres-title {
      margin-bottom: 10px;
    }

    .btn {
      display: block;
    }
  }
}

.question-list {

}

.question-box {
  @extend %whitebox;
  @include bold(1.2em);
  padding: 15px;

  .question-pres {
    color: darken($med-gray, 15);
    font-size: 0.9em;
    font-weight: normal;
    margin-top: 10px;
  }

  .respond-btn {
    display: block;
    margin-top: 10px;
  }

  @media (max-width: 630px) {
    margin-bottom: 10px;
    width: 100%;
  }
}
